ul {
  text-decoration: none;
  list-style: none;
  background-color: oldlace;
  font-family: sans-serif;
}

#nav ul li:.changeColor {
  background-color:white;
}

 li {
   display: inline-block;
   padding: 10px
 }

h1{
font-family: sans-serif;
background-color: mediumpurple;
}
